<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     style="color:red;"
     href="#">Kings of the Strings</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           style="color:black;"
           href="/products">Our Guitars</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           style="color:black;"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Admin Zone
        </a>
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdown">
          <!--ez a rész majd úgy lesz, ahogy Norbiéknak megfelel-->
          <a class="dropdown-item"
             href="order-admin">Order List</a>
          <a class="dropdown-item"
             href="#">Order Edit</a>
          <a class="dropdown-item"
             href="#">Product List</a>
          <a class="dropdown-item"
             href="#">Product Edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             href="#">Extra videó Gyuriról, ahogy gitározik</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0"
              type="submit">Product Search</button>
    </form>
  </div>
</nav>
