<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="color:red;" href="#">Kings of the Strings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color:black;" href="/products">Our Guitars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black;" href="/admin/products">Product admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black;" href="/admin/orders">Order admin</a>
      </li>
    </ul>
  </div>
</nav>
