<h1 class="text-center">Add new Product</h1>

<form (submit)="onAdd($event)" action="">
  <div class="form-group">
    <label for="firstname">Name</label>
    <input [(ngModel)]= "product.name" class="font-weight-bold form-control"
           name="name"
           type="text">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input [(ngModel)]= "product.type" class="font-weight-bold form-control"
           name="type"
           type="text">
  </div>
  <div class="form-group">
      <label for="age">Picture link</label>
      <input [(ngModel)]="product.picture" class="ont-weight-bold form-control"
      name="picture"
      type="text">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input [(ngModel)]="product.description" class=" text-dark font-weight-bold form-control"
        name="description"
        type="text">
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <input [(ngModel)]="product.color" class=" text-dark font-weight-bold form-control"
        name="color"
        type="text">
    </div>
    <button class=" btn btn-success">Save</button>
</form>
