h1 {
  padding-top: 30px;
}

#bckgroundVid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -100;
  opacity: 0.1;
}

.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
