<div *ngIf="product">
  <div>
    <img src="{{ product.picture }}">
  </div>
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{ product.type }}</td>
      </tr>
      <tr>
        <td></td>
        <!-- <td><img src="{{ product.picture }}"
               width="50"></td> -->
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ product.description }}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>{{ product.color }}</td>
      </tr>
      
      <td><button class="btn btn-danger"
                (click)="addToCart(id)">Add to Cart</button></td>

    </tbody>
  </table>
</div>


<div id="cartContainer"
     *ngIf="cart && cart.length">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cartDiv">
          <table>
            <tr>
              <td>Name</td>
              <td>{{ cart[0].name }}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{ cart[0].type }}</td>
            </tr>
            <tr>
              <td></td>
              <td><img src="{{ cart[0].picture }}"
                     width="80"></td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{ cart[0].description }}</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>{{ cart[0].color }}</td>
            </tr>
           
            <tr>
              <td>Items</td>
              <td>{{ counter }}</td>
            <tr>
              <td>Total</td>
              <td>{{ total }}</td>
            </tr>
            <tr>
              <td><button class="btn btn-danger"
                        (click)="removeItem(id)">Remove Item</button></td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <form (submit)="onSubmit($event)"
          action="">
      <div class="form-group">
        <label for="userName">Username</label>
        <input name="userName"
               required
               class="form-control"
               type="text"
               [(ngModel)]="order.userName">
      </div>
      <div class="form-group">
        <label for="userEmail">User Email</label>
        <input name="userEmail"
               required
               type="email"
               class="form-control"
               [(ngModel)]="order.userEmail">
      </div>
      <div class="form-group">
        <label for="shippingAddress">Shipping Address</label>
        <input name="shippingAddress"
               required
               type="text"
               class="form-control"
               [(ngModel)]="order.shippingAddress">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input name="quantity"
               class="form-control"
               type="text"
               [(ngModel)]="counter">
      </div>
      <button class="btn btn-primary">
        Order
      </button>
    </form>
  </div>
</div>
